/* Home */
.home {
  position: relative;
}

.homeDescription_text {
  color: white;
  position: absolute;
  width: auto;
  height: auto;
  top: 100px;
  left: 50px;
}

.follow {
  display: flex;
  align-items: center;
}

.jobTitle {
  text-align: left;
  font-size: 30px;
}

.name {
  text-align: left;
  font-size: 60px;
  font-weight: bold;
}

.portfolioBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  width: 200px;
  height: 60px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: white;
}
