body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  background-color: transparent;
  border: none;
}

textarea {
  background-color: transparent;
  border: none;
}

.navbar-nav .nav-link.active {
  color: white;
}

.font-60-bold {
  font-size: 60px;
  font-weight: bold;
}

.font-30 {
  font-size: 30px;
}

.font-25 {
  font-size: 25px;
}

.font-20 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.dashline-1 {
  background-color: white;
  width: 30px;
  height: 1px;
  margin-left: 10px;
}

.dashline-2 {
  background-color: white;
  width: 70px;
  height: 1px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.dashline-3 {
  background-color: white;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Landing Section */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
ul {
  padding: 0;
}

.landing {
  background-image: url(/public/img/MW_008552.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.logo {
  width: 250px;
  height: 100%;
  margin: 30px 0;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation a {
  margin: 0 20px;
}

.landingContainer {
  width: 500px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.landingSubHeader {
  font-size: 30px;
  letter-spacing: 5px;
  margin: 10px 0;
}

.landingFooterContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.landingFooter {
  position: relative;
}

.arrow {
  text-align: center;
  position: absolute;
  top: -30px;
  bottom: 0;
  right: 0;
  left: 0;
}

.arrow-icon {
  width: 70px;
  height: 70px;
}

.socialMedia {
  float: right;
}

.socialMedia-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px 20px 10px;
}

/* Service & Pricing Section */
.col {
  padding: 0;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

.header {
  font-weight: bold;
  font-size: 2rem;
  margin: 3rem 0 1rem 0;
}

.horizontalLine {
  background-color: black;
  width: 100px;
  height: 5px;
  margin: 0 0 3rem 0;
}

.serviceGrid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.serviceImg {
  width: 100%;
}

.serviceContent {
  padding: 50px;
}

.serviceTitle {
  font-weight: 600;
}

.serviceDescription {
  font-weight: 500;
  color: #616161;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

.aboutUsContent {
  text-align: center;
  max-width: 800px;
  margin: 0 0 150px 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

.contactHeader {
  font-weight: bold;
  font-size: 2rem;
}

.contactGrid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.contactInfo {
  padding: 0 50px;
}

.contactDetails {
  margin: 0 0 10px 0;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}
/* React-tabs */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  /* border-bottom: 1px solid #aaa; */
  text-align: center;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: transparent;
  border-color: black;
  color: black;
  /* border-radius: 5px 5px 0 0; */
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  /* background: #fff; */
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
