body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Home */
.home {
  position: relative;
}

.homeDescription_text {
  color: white;
  position: absolute;
  width: auto;
  height: auto;
  top: 100px;
  left: 50px;
}

.follow {
  display: flex;
  align-items: center;
}

.shortDashline {
  background-color: white;
  width: 100px;
  height: 5px;
  margin-left: 10px;
}

.dashline {
  background-color: white;
  width: 200px;
  height: 10px;
}

.jobTitle {
  text-align: left;
}

.name {
  text-align: left;
}

.portfolioBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  width: 200px;
  height: 60px;
}

a {
  text-decoration: none;
}

/* Contact Page */
.contactLeft {
  position: relative;
}

.contactRight {
  text-align: left;
}

.contactImageText {
  position: absolute;
  top: 50px;
  left: 100px;
  text-align: left;
}

.shortDashline-contact {
  background-color: white;
  width: 100px;
  height: 5px;
  margin-left: 10px;
}

.sayHellow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  width: 200px;
  height: 60px;
}
